*{
    padding: 0;
    margin: 0;
    color: #4F6367;
}

body {
   position: relative;
   height: 100vh; 
   /* background-color: #eef5db; */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #B8D8D8;
}

li {
    list-style-type: none;
}

a {
    color: #FE5F55;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1600px;
    padding: 10px;
    padding-bottom: 1.5em;
    margin: auto;
}

.subcontainer {
    width: 85%;
    margin: auto;
}

#nav-name {
   cursor: pointer;
}

.navbar {
    
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    background-color: #b8d8d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    /* background-color: #eef5db; */
    color: #FE5F55;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.nav-branding {
    font-size: 2rem;
}



.hamburger {
    display: none;
    cursor: pointer;
}
/* Got this from codefoxx youtube video https://www.youtube.com/watch?v=zuAmsj2EN54 */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: black;
}

#home {
    margin-top: 70px;
   
}

.container .bio h1 {
    margin-top: 14em;
}

.link-container {
    border-top: .3em solid black;
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    justify-content: space-evenly;
}

.icons {
    height: 3em;
    width: 3em;
    
}

.icons:hover {
    fill: #FE5F55;
}

@media(max-width: 1600px){
    .container{
        width: 100%;
    }
}

@media(max-width: 1024px){
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    
    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    #frame-container iframe {
        justify-content: center;
        /* padding-bottom: 75%; */
        width: 75vw;
        height: 55vh;
        
        
    }
/* Trying to see if I can get some sort of feedback on mobile tap */
    .icons:target {
        fill:#98dbc6;
    }

    .icons:active {
        background-color: #98dbc6;
    }

    /* #profile-pic:active {
        filter:hue-rotate(145deg);
    } */
}

#profile-pic {
    border-radius: 1em;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2.4em;
    width: 20em;
    height: auto;
    /* filter: revert; */
    /*this causes a bug where the image overlaps the nav-bar. z-index on the img container does not appear to fix */
    
}

/* #profile-pic:hover {
    filter: grayscale(80%);
    filter: hue-rotate(145deg);
    
    
} */

#landscaper {
    width: 16em;
    height: auto;
    margin-top: 1em;
    margin-bottom: 2.2em;
    border: .06em solid black;
    
}

#landscaper:hover {
    transform: scale(1.2);
}

.proj {
    border-top: .3em solid black;
    font-family: 'Roboto', sans-serif;
    
}

.blurb {
    margin-bottom: 2.5em;
}


/* .img-link:hover {
   filter:drop-shadow(30px 10px 4px #4444dd);
} */

/* 
.resume {
    text-align: center;
} deprecated this class */

.modal {
	/* background-color: rgba(0,0,0,0.4); */
	position: fixed;
	top: 6em;
	left: 2em;
	height: 100%;
	width: 100%;
	z-index: 0;
    /* margin: 150px auto; */
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
}

.modal-buttons {
    background: none;
    /* background-color: #eef5db; */
    color: #FE5F55;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

p {
    
    padding-left: 2em;
    padding-right: 2em;
}

h1 {
	padding-bottom: 15px;
}

.modal-buttons {
	/* padding: 14px 18px; */
	border: none;
	cursor: pointer;
    
}

/* #iframe-button {
    display: flex;
    justify-content: column;
    align-content: flex-end;
    z-index: 1;
    background-color: #677996;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
} */

#frame-container {
    /* position: fixed; */
    width:90%;
    height: 90%;
    display: flex;
    justify-content: center;
 
}

/* #iframe-button {
    display: relative;
    font-variant-position: super;
    top: 15%;
    left: 15%;
}

#frame-container:hover #iframe-button {
    display: initial;
} */

iframe {
    /* display: block; */
    /* top: ; */
    width: 500px;
    height: 595px;
    margin: 0 auto;
    justify-content: center;
    object-fit: contain;
}

/* ======= CAROUSEL SECTION ======== */
.carousel-container {
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.carousel-images {
	width: 80%;
	background: #fa8d8e;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px #f2cd99;
}
.carousel-images img {
	width: 100%;
	border-radius: 10px;
	display: none;
}
.carousel-button {
	align-self: center;
	background: #f2cd99;
	color: #888;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px #fa8d8e;
}
.carousel-button:hover {
	cursor: pointer;
	background: #fa8d8e;
	box-shadow: 1px 1px #f2cd99;
	color: white;
}

.carousel-images img:first-of-type {
	display:block;
}